<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/font/icomoon/style.css">
    <link rel="stylesheet" href="../dist/font/icony/dist/css/style.css">
    <link rel="stylesheet" href="../dist/style.css">
    <title>Avatar</title>
</head>

<body class="bg-blue-100 font-sans">
    <img src="https://wallpaperaccess.com/full/2213424.jpg" class="avatar" alt="Profile image">
</body>

</html>