<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/font/icomoon/style.css">
    <link rel="stylesheet" href="../dist/font/icony/dist/css/style.css">
    <link rel="stylesheet" href="../dist/style.css">
    <title>Button (Outlined)</title>
</head>

<body class="bg-blue-100 font-sans">
    <button
        class="rounded-md mr-3 bg-transparent border-2 text-sm hover:border-blue-700 hover:text-blue-700 border-blue-500 text-blue-500 px-4 py-2 font-bold flex items-center">
        <span class="icon-plus mr-2"></span>
        <span>Save Draft</span>
    </button>
</body>

</html>