<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/font/icomoon/style.css">
    <link rel="stylesheet" href="../dist/font/icony/dist/css/style.css">
    <link rel="stylesheet" href="../dist/style.css">
    <title>Checkbox</title>
</head>
<body class="bg-blue-100 font-sans">
    <label class="custom-checkbox mr-3" for="check_4">
        <input type="checkbox" checked name="" id="check_4">
        <span></span>
    </label>
</body>
</html>
