
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/font/icomoon/style.css">
    <link rel="stylesheet" href="../dist/font/icony/dist/css/style.css">
    <link rel="stylesheet" href="../dist/style.css">
    <title>Copy Snippet</title>
</head>

<body class="bg-blue-100 font-sans">
    <div class="max-w-md">
        <label for="online_booking_url" class="font-bold">Online booking url</label>
        <div
            class="w-full rounded-lg cursor-pointer bg-gray-100  border-gray-200 h-9 border-2 px-1 pl-3 flex justify-between items-center text-gray-400">
            <span class="p-0 m-0 text-sm">https://sellsiotesting.co/online-bookings/15ef22</span>
            <button
                class="rounded-md bg-blue-600 text-xs text-white px-2 py-1 font-bold flex items-center hover:bg-blue-800">
                Copy link
            </button>
        </div>
    </div>
</body>

</html>