<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/font/icomoon/style.css">
    <link rel="stylesheet" href="../dist/font/icony/dist/css/style.css">
    <link rel="stylesheet" href="../dist/style.css">
    <title>Radio (Image)</title>
</head>

<body class="bg-blue-100 font-sans">
    <div class="max-w-md">
        <!-- radio start -->
        <label class="image-radio" for="modern_template">
            <input type="radio" name="template" value="modern" id="modern_template">
            <div class="body">
                <img src="../dist/img/email_layouts/Modern.svg"
                    class="w-full object-cover object-center h-auto" alt="classic template">
            </div>
        </label>
        <!-- radio end -->
    </div>
</body>

</html>