
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/font/icomoon/style.css">
    <link rel="stylesheet" href="../dist/font/icony/dist/css/style.css">
    <link rel="stylesheet" href="../dist/style.css">
    <title>Switch</title>
</head>

<body class="bg-blue-100 font-sans">
    <div class="my-2 mr-6">
        <!-- heading start -->
        <h2 class="text-bold text-gray-500 font-bold mr-3">Created by</h2>
        <!--heading end-->
        <label class="switch" for="created_by">
            <input type="checkbox" id="created_by">
            <span>
                <span></span>
            </span>
        </label>
    </div>
</body>

</html>