<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/font/icomoon/style.css">
    <link rel="stylesheet" href="../dist/font/icony/dist/css/style.css">
    <link rel="stylesheet" href="../dist/style.css">
    <title>Table option bar pagination</title>
</head>
<body class="bg-blue-100 font-sans">
    <div class="py-5 flex justify-between text-gray-600 items-center px-4">
        <button class="flex items-center text-sm hover:text-red-500">
            <i class="iconly-Delete icli text-xl mr-2"></i>
            <span class="mt-1">
                Delete
            </span>
        </button>
        <a
            href="./sms_campaign_new_campaign_1.html"
            class="rounded-md shadow-md bg-transparent border-2 border-green-400 hover:bg-green-600 bg-green-400 text-white px-3 py-1 font-bold flex text-sm items-center">
            <span class="icon-plus mr-2"></span>
            New campaign
        </a>
    </div>
    
</body>
</html>
