<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../dist/font/icomoon/style.css">
    <link rel="stylesheet" href="../dist/font/icony/dist/css/style.css">
    <link rel="stylesheet" href="../dist/style.css">
    <title>Table</title>
</head>
<body class="bg-blue-100 font-sans">
    <div class="min-h-screen flex flex-col justify-between">
        <!-- table-start -->
        <table class="table auto overflow-x-auto w-full">
            <thead class="text-gray-600">
                <tr class="bg-white border-b text-sm border-gray-300">
                    <th class="py-5 px-2 cursor-pointer text-left">
                        <label class="custom-checkbox mr-3" for="check_1">
                            <input type="checkbox" name="" id="check_1">
                            <span></span>
                        </label>
                    </th>
                    <th class="py-5 px-2 cursor-pointer w-2/12 text-left">
                        <div class="inline-flex items-center">
                            <span class="inline-block mr-3">Campaign name</span>
                            <span class="flex flex-col items-center">
                              <i class="iconly-Arrow-Up-2 icbo text-gray-600"></i><span></span><i
                                class="iconly-Arrow-Down-2 icbo text-gray-400"></i>
                            </span>
                          </div>
                    </th>
                    <th class="py-5 px-2 cursor-pointer text-left">
                        <div class="inline-flex items-center">
                            <span class="inline-block mr-3">Created</span>
                            <span class="flex flex-col items-center">
                              <i class="iconly-Arrow-Up-2 icbo text-gray-600"></i><span></span><i
                                class="iconly-Arrow-Down-2 icbo text-gray-400"></i>
                            </span>
                          </div>
                    </th>
                    <th class="py-5 px-2 cursor-pointer text-left">
                        <div class="inline-flex items-center">
                            <span class="inline-block mr-3">Employee</span>
                            <span class="flex flex-col items-center">
                              <i class="iconly-Arrow-Up-2 icbo text-gray-600"></i><span></span><i
                                class="iconly-Arrow-Down-2 icbo text-gray-400"></i>
                            </span>
                          </div>
                    </th>
                    <th class="py-5 px-2 cursor-pointer text-left">
                        <div class="inline-flex items-center">
                            <span class="inline-block mr-3">Contacts</span>
                            <span class="flex flex-col items-center">
                              <i class="iconly-Arrow-Up-2 icbo text-gray-600"></i><span></span><i
                                class="iconly-Arrow-Down-2 icbo text-gray-400"></i>
                            </span>
                          </div>
                    </th>
                    <th class="py-5 px-2 cursor-pointer text-left">
                        <div class="inline-flex items-center">
                            <span class="inline-block mr-3">Tag</span>
                            <span class="flex flex-col items-center">
                              <i class="iconly-Arrow-Up-2 icbo text-gray-600"></i><span></span><i
                                class="iconly-Arrow-Down-2 icbo text-gray-400"></i>
                            </span>
                          </div>
                    </th>
                    <th class="py-5 px-2 cursor-pointer text-left">
                        <span class="inline-block text-gray-600">Opens</span>
                    </th>
                    <th class="py-5 px-2 cursor-pointer text-left">
                        <span class="inline-block text-gray-600">Clicks</span>
                    </th>
                    <th class="py-5 px-2 cursor-pointer text-left">
                        <div class="inline-flex items-center">
                            <span class="inline-block mr-3">Status</span>
                            <span class="flex flex-col items-center">
                              <i class="iconly-Arrow-Up-2 icbo text-gray-600"></i><span></span><i
                                class="iconly-Arrow-Down-2 icbo text-gray-400"></i>
                            </span>
                          </div>
                    </th>
                    <th class="py-5 px-2 cursor-pointer text-left">
                        
                    </th>
                    <th class="py-5 px-2 cursor-pointer text-left">
                        
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-b text-sm border-gray-300 text-gray-600">
                    <td class="py-5 px-2">
                        <label class="custom-checkbox mr-3" for="check_2">
                            <input type="checkbox" name="" id="check_2">
                            <span></span>
                        </label>
                    </td>
                    <td class="py-5 px-2">
                        <a href="" class="hover:text-blue-500 hover:underline">
                            What happen to you?
                        </a>
                    </td>
                    <td class="py-5 px-2">
                        12 Jan, 2021<br>
                        14:15	
                    </td>
                    <td class="py-5 px-2">
                        Donnie Liu
                    </td>
                    <td class="py-5 px-2">
                        2
                    </td>
                    <td class="py-5 px-2">
                        60’s
                    </td>
                    <td class="py-5 px-2">
                        61.3%
                    </td>
                    <td class="py-5 px-2">
                        2.89%
                    </td>
                    <td class="py-5 px-2">
                        <span class="inline-block border-2 border-green-500 rounded-full whitespace-nowrap py-2 px-4 bg-green-100"> Completed
                        </span>
                    </td>
                    <td class="py-5 px-2">
                        <button class="text-blue-500 text-md hover:text-blue-600">
                            Duplicate
                        </button>
                    </td>
                    <td class="py-5 px-2">
                        <button class="text-green-500 text-md hover:text-green-600">
                            Delete
                        </button>
                    </td>
                </tr>
                <tr class="border-b text-sm border-gray-300 text-gray-600">
                    <td class="py-5 px-2">
                        <label class="custom-checkbox mr-3" for="check_3">
                            <input type="checkbox" checked name="" id="check_3">
                            <span></span>
                        </label>
                    </td>
                    <td class="py-5 px-2">
                        <a href="" class="hover:text-blue-500 hover:underline">
                            Where have you been?
                        </a>
                    </td>
                    <td class="py-5 px-2">
                        16 Mar, 2021 <br>
                        <span class="text-gray-500">Created:</span> 18:24
                    </td>
                    <td class="py-5 px-2">
                        Romario Maguire
                    </td>
                    <td class="py-5 px-2">
                        3
                    </td>
                    <td class="py-5 px-2">
                        Liverpool’s patients
                    </td>
                    <td class="py-5 px-2">
                        
                    </td>
                    <td class="py-5 px-2">
                        
                    </td>
                    <td class="py-5 px-2">
                        <span class="inline-block border-2 border-yellow-500 rounded-full whitespace-nowrap py-2 px-4 bg-yellow-100"> Draft
                        </span>
                    </td>
                    <td class="py-5 px-2">
                        <button class="text-blue-500 text-md hover:text-blue-600">
                            Duplicate
                        </button>
                    </td>
                    <td class="py-5 px-2">
                        <button class="text-green-500 text-md hover:text-green-600">
                            Delete
                        </button>
                    </td>
                </tr> 
                <tr class="border-b text-sm border-gray-300 text-gray-600">
                    <td class="py-5 px-2">
                        <label class="custom-checkbox mr-3" for="check_4">
                            <input type="checkbox" checked name="" id="check_4">
                            <span></span>
                        </label>
                    </td>
                    <td class="py-5 px-2">
                        <a href="" class="hover:text-blue-500 hover:underline">
                            Your smile is all you’ve got!
                        </a>
                    </td>
                    <td class="py-5 px-2">
                        16 Mar, 2021 <br>
                        <span class="text-gray-500">Created:</span> 18:24
                    </td>
                    <td class="py-5 px-2">
                        Lidija Milenkovska
                    </td>
                    <td class="py-5 px-2">
                        3
                    </td>
                    <td class="py-5 px-2">
                        Teenagers
                    </td>
                    <td class="py-5 px-2">
                        
                    </td>
                    <td class="py-5 px-2">
                        
                    </td>
                    <td class="py-5 px-2">
                        <span class="inline-block border-2 border-yellow-500 rounded-full whitespace-nowrap py-2 px-4 bg-yellow-100"> Draft
                        </span>
                    </td>
                    <td class="py-5 px-2">
                        <button class="text-blue-500 text-md hover:text-blue-600">
                            Duplicate
                        </button>
                    </td>
                    <td class="py-5 px-2">
                        <button class="text-green-500 text-md hover:text-green-600">
                            Delete
                        </button>
                    </td>
                </tr>
                <tr class="border-b border-gray-300 text-sm text-gray-600">
                    <td class="py-5 px-2">
                        <label class="custom-checkbox mr-3" for="check_4">
                            <input type="checkbox" checked name="" id="check_4">
                            <span></span>
                        </label>
                    </td>
                    <td class="py-5 px-2">
                        <a href="" class="hover:text-blue-500 hover:underline">
                            Smile, maybe tomorrow never comes!
                        </a>
                    </td>
                    <td class="py-5 px-2">
                        03 May, 2021 <br>
                        13:16
                    </td>
                    <td class="py-5 px-2">
                        Ricardo Potta
                    </td>
                    <td class="py-5 px-2">
                        156
                    </td>
                    <td class="py-5 px-2">
                        New ones
                    </td>
                    <td class="py-5 px-2">
                        24.3%
                    </td>
                    <td class="py-5 px-2">
                        6.63%
                    </td>
                    <td class="py-5 px-2">
                        <span class="inline-block border-2 border-green-500 rounded-full whitespace-nowrap py-2 px-4 bg-green-100"> Completed
                        </span>
                    </td>
                    <td class="py-5 px-2">
                        <button class="text-blue-500 text-md hover:text-blue-600">
                            Duplicate
                        </button>
                    </td>
                    <td class="py-5 px-2">
                        <button class="text-green-500 text-md hover:text-green-600">
                            Delete
                        </button>
                    </td>
                </tr> 
            </tbody>
        </table>
        <!-- pagination start -->
        <div class="p-4 flex items-center justify-between">
            <div class="text-gray-600">
                Show <select name="" class="bg-blue-200 py-2 px-3 rounded-md" id="">
                    <option value="">10</option>
                </select>
            </div>
            <div class="flex justify-around items-center px-3">
                <a href="#" class="paginate paginate--disabled text-2xl">
                    <i class="iconly-Arrow-Left-2 icli"></i>
                </a>
                <a href="#" class="paginate paginate--active">
                    1
                </a>
                <a href="#" class="paginate">
                    2
                </a>
                <a href="#" class="paginate">
                    3
                </a>
                <a href="#" class="paginate">
                    4
                </a>
                <a href="#" class="paginate paginate--disabled text-2xl">
                    <i class="iconly-Arrow-Right-2 icli"></i>
                </a>
            </div>
            <!-- result start -->
            <div class="text-gray-400">
                10 of 14 results
            </div>
            <!-- result end -->
        </div>
        <!--pagination end-->
    </div>
</body>
</html>
